:root {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

.container {
  width: 412px;
  margin: 0 auto;
}
