@charset "utf-8";

.container {
    width: 1360px;
    margin: 0 auto;
}

.hd {
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    background-color: white;
    z-index: 1;
}

.bg-gray {
    background-color: gray;
}

.bg-orange {
    background-color: orange;
}

.bg-skyblue {
    background-color: skyblue;
}

.menuWrap {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px 0;
}

.menuWrap .gnb ul {
    display: flex;
}

.menuWrap .gnb li {
    width: 150px;
    height: 50px;
}

.menuWrap .gnb a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menuWrap .sns {
    display: flex;
    align-self: center;
    /*얘만 딱 잡힌다*/
    gap: 10px;
}

.menuWrap .sns li {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #000000;
    color: whitesmoke;
}

.visual {
    height: 100vh;
    min-height: 400px;
}

.top {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rebeccapurple;
    border-radius: 50%;
}

.banner {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.banner .card {
    width: 384px;
    height: 580px;
}

.banner .img-wrap img {
    width: 384px;
    height: 450px;
}

.banner .card .card-text {
    padding: 10px 20px;
}

.banner .card .card-text h3 {
    margin-bottom: 10px;
}

.banner .card .img-wrap:hover img{
    transform: translateY(-30px) scale(1.2) rotate(100deg);
    transition: 1s;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}